<link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
<link rel="stylesheet" href="/assets/vendor/libs/bs-stepper/bs-stepper.css" />
<link rel="stylesheet" href="/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
<link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="/assets/vendor/libs/form-validation/umd/styles/index.min.css" />
<link rel="stylesheet" href="/assets/vendor/libs/dropzone/dropzone.css" />


<h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">Form Wizard/</span> Numbered
</h4>
<!-- Default -->
<div class="row">
    <div class="col-12">
        <h5>Default</h5>
    </div>

    <!-- Default Wizard -->
    <div class="col-12 mb-4">
        <small class="text-light fw-medium">Basic</small>
        <div class="bs-stepper wizard-numbered mt-2">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Account Details</span>
                            <span class="bs-stepper-subtitle">Setup Account Details</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#personal-info">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Personal Info</span>
                            <span class="bs-stepper-subtitle">Add personal info</span>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#social-links">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Social Links</span>
                            <span class="bs-stepper-subtitle">Add social links</span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <form asp-action="ReadExcelData" asp-controller="Contacts" enctype="multipart/form-data">
                    <!-- Account Details -->
                    <div id="account-details" class="content">
                        <div class="content-header mb-3">
                            <h6 class="mb-0">Account Details</h6>
                            <small>Enter Your Account Details.</small>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="username">Account Name</label>
                                <input type="text" id="accountname" class="form-control" placeholder="Account Name" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="email">Company</label>
                                <input type="text"
                                       id="companyname"
                                       class="form-control"
                                       placeholder="Company Name"
                                       aria-label="companyname" />
                            </div>
@*                             <div class="col-sm-6 form-password-toggle">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password2" />
                                    <span class="input-group-text cursor-pointer" id="password2">
                                        <i class="bx bx-hide"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-password-toggle">
                                <label class="form-label" for="confirm-password">Confirm Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="confirm-password"
                                           class="form-control"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="confirm-password2" />
                                    <span class="input-group-text cursor-pointer" id="confirm-password2">
                                        <i class="bx bx-hide"></i>
                                    </span>
                                </div>
                            </div>
 *@                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-label-secondary btn-prev" disabled>
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-sm-inline-block d-none">Next</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                            <!-- Basic  -->
                            <div class="col-12">
                                <div class="card mb-4">
                                    <h5 class="card-header">Basic</h5>
                                    <div class="card-body">
@*                                         <form action="/upload" class="dropzone needsclick" id="dropzone-basic">
 *@                                            <div class="dz-message needsclick">
                                                Drop files here or click to upload
                                                @* <span class="note needsclick">
                                                    (This is just a demo dropzone. Selected files are
                                                    <span class="fw-medium">not</span> actually uploaded.)
                                                </span> *@
                                            </div>
                                            <div class="fallback">
                                            <input type="file" name="excelFile" />
                                            </div>
                                       @*  </form> *@
                                    </div>
                                </div>
                            </div>
                            <!-- /Basic  -->
                        </div>
                    </div>
                    <!-- Personal Info -->
                    <div id="personal-info" class="content">
                        <div class="content-header mb-3">
                            <h6 class="mb-0">Personal Info</h6>
                            <small>Enter Your Personal Info.</small>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="first-name">First Name</label>
                                <input type="text" id="first-name" class="form-control" placeholder="John" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="last-name">Last Name</label>
                                <input type="text" id="last-name" class="form-control" placeholder="Doe" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="country">Country</label>
                                <select class="select2" id="country">
                                    <option label=" "></option>
                                    <option>UK</option>
                                    <option>USA</option>
                                    <option>Spain</option>
                                    <option>France</option>
                                    <option>Italy</option>
                                    <option>Australia</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="language">Language</label>
                                <select class="selectpicker w-auto"
                                        id="language"
                                        data-style="btn-transparent"
                                        data-icon-base="bx"
                                        data-tick-icon="bx-check text-white"
                                        multiple>
                                    <option>English</option>
                                    <option>French</option>
                                    <option>Spanish</option>
                                </select>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-sm-inline-block d-none">Next</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Social Links -->
                    <div id="social-links" class="content">
                        <div class="content-header mb-3">
                            <h6 class="mb-0">Social Links</h6>
                            <small>Enter Your Social Links.</small>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="twitter">Twitter</label>
                                <input type="text"
                                       id="twitter"
                                       class="form-control"
                                       placeholder="https://twitter.com/abc" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="facebook">Facebook</label>
                                <input type="text"
                                       id="facebook"
                                       class="form-control"
                                       placeholder="https://facebook.com/abc" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="google">Google+</label>
                                <input type="text"
                                       id="google"
                                       class="form-control"
                                       placeholder="https://plus.google.com/abc" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="linkedin">LinkedIn</label>
                                <input type="text"
                                       id="linkedin"
                                       class="form-control"
                                       placeholder="https://linkedin.com/abc" />
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button type="submit" class="btn btn-success btn-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Default Wizard -->
</div>

@*<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Read Excel File</a></li>
    </ol>
</div>
<!-- row -->
<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Form step</h4>
            </div>
            <div class="card-body">
                <form asp-action="ReadExcelData" asp-controller="Contacts" enctype="multipart/form-data">
                    <div id="smartwizard" class="form-wizard order-create">
                        <ul class="nav nav-wizard">
                            <li>
                                <a class="nav-link" href="#wizard_Service">
                                    <span>1</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#wizard_Time">
                                    <span>2</span>
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#wizard_Details">
                                    <span>3</span>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div id="wizard_Service" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6 mb-2">
                                        <div class="mb-3">
                                            <label class="text-label form-label">Cohort Name*</label>
                                            <input type="text" name="cohortName" class="form-control" placeholder="cohort name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="mb-3">
                                            <label class="text-label form-label">Description*</label>
                                            <input type="text" name="cohortDesc" class="form-control" placeholder="cohort description" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="wizard_Time" class="tab-pane" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6 mb-2">
                                        <div class="mb-3">
                                            <div class="input-group mb-3">
                                                <button class="btn btn-primary btn-sm" type="button">Button</button>
                                                <div class="form-file">
                                                    <input type="file" name="excelFile" class="form-file-input form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="wizard_Details" class="tab-pane" role="tabpanel">
                                <div>
                                    <button type="submit" class="btn btn-rounded btn-success">
                                        <span class="btn-icon-start text-success">
                                            <i class="fa fa-upload color-success"></i>
                                        </span>Upload
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@

@section scripts {

    <script src="/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="/assets/vendor/libs/select2/select2.js"></script>
    <script src="/assets/vendor/libs/form-validation/umd/bundle/popular.min.js"></script>
    <script src="/assets/vendor/libs/form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="/assets/vendor/libs/form-validation/umd/plugin-auto-focus/index.min.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/form-wizard-numbered.js"></script>
    <script src="/assets/js/form-wizard-validation.js"></script>
    <script src="/assets/js/forms-file-upload.js"></script>

}